In [ ]:
#normalization

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [4]:
df= read_csv("lab1-datasets\students_scores.csv")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\pc\AppData\Local\Temp\ipykernel_20208\4133585198.py:1: SyntaxWarning: invalid escape sequence '\s'
  df= read_csv("lab1-datasets\students_scores.csv")

NameError: name 'read_csv' is not defined

In [6]:
df= pd.read_csv("lab1-datasets/student_scores.csv")

In [ ]:
# Step 1: Load the dataset

In [8]:
print("raw/inital data \n:",df)

raw/inital data
:    StudentID  Math  Science  English
0          1    78       65       80
1          2    88       75       85
2          3    60       50       55
3          4    90       78       92
4          5    55       48       58
5          6    83       72       88
6          7    71       66       79
7          8    64       52       70
8          9    88       80       90
9         10    76       68       82

In [9]:
print("raw/inital data \n:",df.tail())

raw/inital data
:    StudentID  Math  Science  English
5          6    83       72       88
6          7    71       66       79
7          8    64       52       70
8          9    88       80       90
9         10    76       68       82

In [11]:
# Step 2: Apply Min-Max normalization
scalar = MinMaxScaler()
df[['Math','Science','English']]= scalar.fit_transform(df[['Math','Science','English']])
print("Normalized data: \n", df)

Normalized data:
    StudentID      Math  Science   English
0          1  0.657143  0.53125  0.675676
1          2  0.942857  0.84375  0.810811
2          3  0.142857  0.06250  0.000000
3          4  1.000000  0.93750  1.000000
4          5  0.000000  0.00000  0.081081
5          6  0.800000  0.75000  0.891892
6          7  0.457143  0.56250  0.648649
7          8  0.257143  0.12500  0.405405
8          9  0.942857  1.00000  0.945946
9         10  0.600000  0.62500  0.729730

In [12]:
print("Normalized data: \n", df.head())

Normalized data:
    StudentID      Math  Science   English
0          1  0.657143  0.53125  0.675676
1          2  0.942857  0.84375  0.810811
2          3  0.142857  0.06250  0.000000
3          4  1.000000  0.93750  1.000000
4          5  0.000000  0.00000  0.081081