In [1]:
import pandas as pd

In [3]:
# Step 1: Load the dataset
df =pd.read_csv('lab1-datasets/employee_data.csv')

In [6]:
print('Raw/Inital Data:\n', df.head())

Raw/Inital Data:
    ID     Name   Age       Department   Salary
0   1     John  28.0               HR  50000.0
1   2     Jane  35.0          Finance  60000.0
2   3    Emily   NaN               HR  55000.0
3   4  Michael  40.0  Human Resources      NaN
4   5    Sarah  29.0               IT  52000.0

In [30]:
# Step 2: Handle missing values
# Fill missing 'Age' with the mean age and 'Salary' with the mean salary
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace = True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15924\2598289929.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\pc\AppData\Local\Temp\ipykernel_15924\2598289929.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace = True)

In [31]:
df['Salary'].fillna(df['Salary'].mean(), inplace = True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15924\2183300622.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace = True)

In [32]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15924\1698716155.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [41]:
#Step 3: Standardize department names
df['Department']=df['Department'].replace({
"Human Resources" : "HR",
    "H.R.": "HR",
    "hr" : "HR"
    })

In [1]:
print('Raw/Inital Data:\n', df.tail())

NameError: name 'df' is not defined

In [35]:
# Step 4: Remove duplicate records based on 'ID'
df.drop_duplicates(subset='ID',keep="first", inplace=True)
print("\nCleaned Data:\n", df.head())

Cleaned Data:
    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR  58100.0
4   5    Sarah  29.0         IT  52000.0

In [36]:
print("\nCleaned Data:\n", df.head())

Cleaned Data:
    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR  58100.0
4   5    Sarah  29.0         IT  52000.0

In [39]:
df.drop_duplicates(subset='Name',keep="first", inplace=True)

In [40]:
print("\nCleaned Data:\n", df.head())

Cleaned Data:
    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR  58100.0
4   5    Sarah  29.0         IT  52000.0